<%- include('partials/header') -%>
<%- include('partials/nav') -%>

<div class="w-full h-screen  pt-20">

    <form class="w-[40%] h-[55vh] mx-auto rounded pt-10 bg-lime-500" action="">
        <input class="w-[80%]  mx-auto ml-10 py-4 pl-5 my-5" type="text" placeholder="Enter username" name="username">
        <br>
        <input class="w-[80%]  mx-auto ml-10 py-4 pl-5 my-5" type="text" placeholder="Enter Email" name="email">
        <br><br>
        <input class="w-[80%]  mx-auto ml-10 py-4 pl-5" type="password" placeholder="Enter password" name="password">
    </form>

</div>





<%- include('partials/footer') -%>